{% extends "blog/base.html" %}
{% block content %}

<h2>About us</h2>
<p>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Quisque tincidunt scelerisque libero. Pellentesque ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Et harum quidem rerum facilis est et expedita distinctio. <br/>
    Fusce dui leo, imperdiet in, aliquam sit amet, feugiat eu, orci. <br />
    Sed vel lectus. Donec odio tempus molestie, porttitor ut, iaculis quis, sem. Etiam posuere lacus quis dolor. Nunc tincidunt ante vitae massa. Quisque tincidunt scelerisque libero
</p>

{% endblock content %}